@model Casgem_CodeFirstProject.DAL.Entities.FooterContact
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İletişim</h2>
<form method="post">
    @Html.HiddenFor(x => x.FooterID)
    @Html.Label("Mail")
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.Label("Telefon")
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    <br />
    @Html.Label("Adres")
    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>


