@model Casgem_CodeFirstProject.DAL.Entities.Service
@{
    ViewBag.Title = "AddAdminService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmet Ekleme Sayfası</h2>
<form method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.Label("Icon")
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Ekle</button>
</form>

