@{
    Layout = null;
}



<!--
   Author: W3layouts
   Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
@Html.Action("PartialHead", "Default")
<body id="home">
    @Html.Action("PartialNavbar", "Default")
    @Html.Action("PartialScript", "About")
    <section class="w3l-inner-banner-main">
        <div class="about-inner services editContent">
            <div class="container">

                <div class="breadcrumbs-sub">
                    <ul class="breadcrumbs-custom-path">
                        <li class="right-side propClone"><a href="/Default/Index" class="editContent">Anasayfa <span class="fa fa-angle-right" aria-hidden="true"></span></a> <p></li>
                        <li class="active editContent">Keşfet</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    @Html.Action("PartialService")
    @Html.Action("PartialImage")
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5 ">
            <div class="container">
                <div class="grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                    </div>
                </div>
            </div>
        </div>
    </section>                
    @Html.Action("PartialFooter", "Default")
</body>
</html>

