@model Casgem_CodeFirstProject.DAL.Entities.Guide
@{
    ViewBag.Title = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Kişi Ekleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(x => x.GuideID)
    @Html.Label("Adı Soyadı")
    @Html.TextBoxFor(x => x.GuideName, new { @class = "form-control" })
    <br />
    @Html.Label("Unvan")
    @Html.TextBoxFor(x => x.GuideTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Rehber Fotoğraf Url")
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    @Html.Label("Sosyal Medya Adı")
    @Html.TextBoxFor(x => x.SocialMedia[0].SocialMediaName, new { @class = "form-control" })
    <br />
    @Html.Label("Sosyal Medya Link")
    @Html.TextBoxFor(x => x.SocialMedia[0].SocialMediaUrl, new { @class = "form-control" })
    <br />
    @Html.Label("Sosyal Medya Icon")
    @Html.TextBoxFor(x => x.SocialMedia[0].Icon, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Ekle</button>
</form>
