
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
@Html.Partial("PartialHead")
<body id="home">
    @Html.Action("PartialNavbar")
    @Html.Action("PartialNavbarScript")
    @Html.Action("PartialFeature")
    @Html.Action("PartialHolidayPlan")
    @Html.Action("PartialPlace")
    @Html.Action("PartialFeature2")
    @Html.Action("PartialDestination")
    @Html.Action("PartialExplore")
    @Html.Action("PartialBookTravel")
    @Html.Action("PartialFooter")
    @*@Html.Action("PartialSocialMedia")*@
    @Html.Action("PartialCategory")
    @Html.Action("PartialGalery")
    @Html.Action("PartialTravelTrip")
    @Html.Action("PartialScript")
</body>
</html>

